<%- include('partials/header', {title: 'Halaman Utama Movies App'}) %>

<nav class="navbar navbar-expand-sm bg-info navbar-dark justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/production-houses">Production Houses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/movies">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/casts">Casts</a>
        </li>
    </ul>
</nav>

<h1 class="d-flex justify-content-center mt-5">Halaman Utama Movies App</h1>
<img
    src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/SpongeBob_SquarePants_character.svg/1024px-SpongeBob_SquarePants_character.svg.png"
    class="mx-auto d-block mt-5"
    style="width: 300px; height: 300px"
    alt="Spongebob"
/>

<%- include('partials/footer.ejs') %>
